{
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "strict": [2, "never"],
  }
}
